<h1> <a href="/urls">TINYAPP</a> </h1>
<body>
  <% if (userid) {%>
    Signed in as: <%=useremail%>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  <%} else {%>
    <form action="/Login">
      <input type="submit" value="Login">
    </form>
    <form action="/register">
      <input type="submit" value="Sign Up">
    </form>
  <%}%>
</form>
<br>
</body>