<h1> <a href="/urls">TINYAPP</a> </h1>
<body>
<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input id="username" type="text" name="username" style="width: 100px">
  <input type="submit" value="Submit">
</form>
<br>
</body>