<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>TinyApp</title>
  </head>
  <body>
    <H1>Shortened URL</H1>
    <table>
      <thead>
        <th>Shortened</th>
        <th>URL</th>
      </thead>
      <tbody>
        <tr>  
          <td>
            
              <li><%=shortURL%></li>
            
          </td>
          <td>
            
              <li><%=longURL%></li>
            
          </td>
        </tr>  
      </tbody>
    </table>
    
    <a href='#'>link to shortnener</a>
  </body>
</html>