<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/_header %>
    <title>TinyApp</title>
  </head>
  <body>
    <table>
      <thead>
        <th>Shortened</th>
        <th>URLs</th>
      </thead>
      <tbody>
        <tr>  
          <td>
            <% for (var url in urls) { %>
              <li><%=JSON.stringify(url)%></li>
            <% }; %>
          </td>
          <td>
            <% for (var url in urls) { %>
              <li><%=JSON.stringify(urls[url])%></li>
            <% }; %>
          </td>
          <td>
            <% for (var url in urls) { %>
              <form action="/urls/<%=url%>">
                <input type="submit" value="Edit">
              </form>
            <% }; %>
          </td>
          <td>
            <% for (var url in urls) { %>
              <form method="POST" action="/urls/<%=url%>/delete">
                <input type="submit" value="Delete">
              </form>
            <% }; %>
          </td>
        </tr>  
      </tbody>
    </table>
    <a href='new'>Link to short</a>
  </body>
</html>