<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>
    <title>TinyApp</title>
  </head>
  <body>
    <H2>Here is your shortened URL!</H2>
    <table>
      <thead>
        <th>Shortened</th>
        <th>Current URL</th>
      </thead>
      <tbody>
        <tr>  
          <td>
            
              <li><%=shortURL%></li>
            
          </td>
          <td>
            
              <li><%=longURL%></li>
            
          </td>
        </tr>  
      </tbody>
    </table>
    <form action="/urls/<%=shortURL%>" method="POST">
      <label>Enter a URL to Update:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
      <br>
    <a href='new'>Link to short</a>
  </body>
</html>
